.titleContainer {
    display: flexbox;
    position: relative;
    justify-content:center;
    margin: auto;
    margin-top: 25px;
}

.titleText {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    font-style: oblique;
    z-index: 500;
    align-content: centre;
}

.titleIcon{
    z-index: 1000;
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
}



.mainContent {
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
}


.container {
    position:relative;
    display: inline-flex;
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 50px;
    
}

.image {
    border-radius: 8px;

}

.overlay {
    display: inline-block;
    position: absolute;
    border-radius: 8px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    cursor: pointer;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}



.titleText:hover{
    transition: font-size 10s;
    font-size: 90px;
}